<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
<!--
AngularJS filter by multiple properties
https://www.youtube.com/watch?v=MTfOY5COv8U
-->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>AngularJS filter multiple properties</title>
  <style>
    body { padding: 1em; font-family: Arial, sans-serif; }
    table { border: 1px solid #ddd; }
    th, td { padding: 0.5rem;border: 1px solid #eee; min-width: 100px; }
    th { cursor: pointer;  }
    label {display: inline-block; min-width: 150px; text-align: right; padding: 0.5rem; }
    input, select, option { min-width: 200px; padding: 0.5rem; margin-bottom: 1rem; border: 1px solid #ccc; border-radius: 5px; }
    select { border: 1px solid #ccc; border-radius: 5px; cursor: pointer; }
  </style>
  <script src="angular.js"></script>
  <script>
    var app = angular
    .module('app', [])
    .controller('appCtrl', function($scope) {
      var employees  = [
        { name: 'Ben',  gender: 'Male', salary: 55000.788, city: 'London' },
        { name: 'Sara',  gender: 'Female', salary: 68000.00, city: 'Chennai' },
        { name: 'Mark',  gender: 'Male', salary: 57000.00, city: 'London' },
        { name: 'Pam',  gender: 'Female', salary: 53000.00, city: 'Chennai' },
        { name: 'Todd',  gender: 'Male', salary: 60000.00, city: 'London' }
      ];
      $scope.employees = employees;
      $scope.search = function(item) {
        if ($scope.searchText == undefined) {
          return true;
        }
        else {
          if (item.name.toLowerCase().indexOf($scope.searchText.toLowerCase()) ||
              item.name.toLowerCase().indexOf($scope.searchText.toLowerCase()) != -1 ) {
            return true;
          }
        }
        return false;
      }
    });
  </script>
</head>


<body>
<div ng-controller="appCtrl">

  <h2>AngularJS filter multiple properties</h2>

  <div>
    <label for="searchName">Search by Name</label>
    <input type="text" id="searchName" ng-model="searchText" placeholder="search by name or city">
  </div>

  <!-- <div>
    <label for="exactMatch">Exact Match</label>
    <input type="checkbox" ng-model="exactMatch">
  </div> -->

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Gender</th>
        <th>Salary</th>
        <th>City</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="employee in employees | filter:searchText">
        <td>{{ employee.name | uppercase }}</td>
        <td>{{ employee.gender | lowercase }}</td>
        <td>{{ employee.salary | currency }}</td>
        <td>{{ employee.city }}</td>
      </tr>
    </tbody>
  </table>


</div>
</body>
</html>
